body {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button#mic.muibuttonbase-root {
  margin: 0px 0px 30px 0px;
  background-color: green;
  color: white
}

button.muibuttonbase-root {
  margin: 0px 30px 60px 0px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;

}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audio-list {
  padding: 0px;
}

.recording-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}

.record-button {
  color: red;
}

audio {
  width: 500px;
  padding-right: 10px;
}

.mic-access {
  color: white;
  background-color: green;
  margin: 10px;
}

.audio-bar {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  margin: 15px 10px 30px 10px;
}

.title-time {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.timestamp {
  padding-left: 20px;
}

input#outlined-basic {
  width: 400px;
}

footer {
  display: flex;
  padding: 40px;
}